Repository kevinjos/dream-journal: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vue-tsc, eslint, prettier, frontend-build, django-check, django-migrations-check

mypy:
  name: 'Backend: Type check Python (warnings only)'
  entry: bash -c 'cd backend && source venv/bin/activate && DJANGO_SETTINGS_MODULE=dream_journal.settings mypy --config-file=mypy.ini . || echo "⚠️  MyPy found type issues but allowing commit"'
  language: system
  pass_filenames: false

vue-tsc:
  name: 'Frontend: TypeScript type checking'
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

eslint:
  name: 'Frontend: ESLint check and fix'
  entry: bash -c 'cd frontend && npm run lint -- --fix'
  language: system
  pass_filenames: false

prettier:
  name: 'Frontend: Format with Prettier'
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{vue,ts,js,scss,css,html,md,json}" "*.{js,ts,vue,scss,css,html,md,json}" --ignore-path ../.gitignore'
  language: system
  pass_filenames: false

frontend-build:
  name: 'Frontend: Build check'
  entry: bash -c 'cd frontend && npm run build > /dev/null 2>&1'
  language: system
  pass_filenames: false

django-check:
  name: 'Backend: Django system check'
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py check'
  language: system
  pass_filenames: false

django-migrations-check:
  name: 'Backend: Check for missing migrations'
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

Consolidate request endpoints
  backend/dream_journal/urls.py
  frontend/src/boot/axios.ts
  frontend/src/pages/CreateDreamPage.vue
  frontend/src/pages/DreamsListPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/QualityMapPage.vue
  frontend/src/services/web.ts
  frontend/src/stores/auth.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

Implement CSRF token
  backend/dream_journal/settings.py
  backend/dream_journal/urls.py
  backend/pyproject.toml
  frontend/quasar.config.ts
  frontend/src/boot/csrf.ts
  frontend/src/services/web.ts
  frontend/src/stores/csrf.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

Migration db-migration from job to init container
  backend/k8s/deployment.yaml
  backend/k8s/migration-job.yaml
Due: django-check

Fix JWT refresh, remove CSRF, and eliminate horiz scroll
  CLAUDE.md
  backend/dream_journal/settings.py
  backend/dream_journal/urls.py
  frontend/quasar.config.ts
  frontend/src/App.vue
  frontend/src/boot/axios.ts
  frontend/src/boot/csrf.ts
  frontend/src/css/app.scss
  frontend/src/pages/CreateDreamPage.vue
  frontend/src/pages/DreamsListPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/QualityMapPage.vue
  frontend/src/pages/RegisterPage.vue
  frontend/src/router/index.ts
  frontend/src/services/web.ts
  frontend/src/stores/auth.ts
  frontend/src/stores/csrf.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

CSRF cleanup
  backend/dream_journal/settings.py
Due: mypy, django-check

More cleanup
  backend/dream_journal/settings.py
Due: mypy, django-check

More cleanup
  backend/dreams/admin.py
  backend/dreams/permissions.py
Due: mypy, django-check

More cleanup and structured json logging
  backend/dream_journal/settings.py
  backend/requirements.txt
Due: mypy, django-check

Minor tweaks and refactors
  backend/authentication/adapters.py
  backend/authentication/serializers.py
  backend/authentication/views.py
  backend/k8s/ingress.yaml
  backend/templates/account/email/email_confirmation_message.html
  backend/templates/account/email/email_confirmation_subject.txt
  frontend/src/composables/useAuth.ts
  frontend/src/composables/useEmailVerification.ts
  frontend/src/layouts/MainLayout.vue
  frontend/src/pages/CreateDreamPage.vue
  frontend/src/pages/DreamsListPage.vue
  frontend/src/pages/EmailVerificationConfirmPage.vue
  frontend/src/pages/EmailVerificationPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/QualityMapPage.vue
  frontend/src/pages/RegisterPage.vue
  frontend/src/router/paths.ts
  frontend/src/services/web.ts
  frontend/src/types/models.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

Serve admin behind it's own subdomain and route email veri links to /api
  backend/authentication/adapters.py
  backend/dream_journal/urls.py
  backend/k8s/deployment.yaml
  backend/k8s/ingress.yaml
  backend/static/favicon.ico
Due: mypy, django-check

Double api in email verification fix
  backend/authentication/adapters.py
  frontend/src/pages/EmailVerificationConfirmPage.vue
  frontend/src/pages/LoginPage.vue
  frontend/src/pages/PasswordResetConfirmPage.vue
  frontend/src/pages/PasswordResetPage.vue
  frontend/src/pages/RegisterPage.vue
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

Remove verification key regex check
  backend/authentication/views.py
  backend/dream_journal/settings.py
  backend/dream_journal/urls.py
  backend/dreams/urls.py
  backend/k8s/ingress.yaml
Due: mypy, django-check

Provision the admin cert for real
  backend/k8s/ingress.yaml
Due: django-check

serving infra to cloud run
  backend/Dockerfile
  backend/cloud-run-service.yaml
  backend/cloudbuild.yaml
  backend/migration-job.yaml
  backend/run.py
  frontend/cloud-run-service.yaml
  frontend/cloudbuild.yaml
  frontend/nginx.conf
  frontend/src/boot/axios.ts
  infrastructure/modules/gcp-project/main.tf
  infrastructure/modules/gcp-project/outputs.tf
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

fixes
  backend/cloudbuild.yaml
  backend/migration-job.yaml
  frontend/cloudbuild.yaml
  infrastructure/modules/gcp-project/main.tf
Due: frontend-build, django-check

yikes
  backend/cloudbuild.yaml
  frontend/cloudbuild.yaml
  infrastructure/modules/gcp-project/main.tf
Due: frontend-build, django-check

fix migration job yaml
  backend/migration-job.yaml
Due: django-check

fix migration job yaml
  backend/cloud-run-service.yaml
  infrastructure/modules/gcp-project/main.tf
  infrastructure/modules/gcp-project/outputs.tf
Due: django-check

get up and running
  backend/dream_journal/settings.py
  infrastructure/modules/gcp-project/main.tf
Due: mypy, django-check

minor tweaks to serving infra and cleanup
  backend/cloud-run-service.yaml
  backend/dream_journal/settings.py
  backend/k8s/deployment.yaml
  backend/k8s/ingress.yaml
  backend/k8s/namespace.yaml
  backend/k8s/secret-provider-class.yaml
  backend/k8s/secret.yaml
  backend/k8s/service-account.yaml
  backend/k8s/service.yaml
  backend/k8s/update-secrets.sh
  backend/requirements.txt
  frontend/cloud-run-service.yaml
  frontend/k8s/deployment.yaml
  frontend/k8s/namespace.yaml
  frontend/k8s/service.yaml
  infrastructure/modules/gcp-project/main.tf
Due: mypy, frontend-build, django-check

no org, use iam bindings
  backend/cloud-run-service.yaml
  backend/cloudbuild.yaml
  frontend/cloud-run-service.yaml
  frontend/cloudbuild.yaml
  infrastructure/modules/gcp-project/main.tf
Due: frontend-build, django-check

add build triggers
  infrastructure/modules/gcp-project/main.tf
Due: none

add build triggers fix
  infrastructure/modules/gcp-project/main.tf
Due: none

scope django admin cookies
  backend/dream_journal/settings.py
Due: mypy, django-check

one more try
  backend/dream_journal/settings.py
Due: mypy, django-check

Stub image generation in the UI
  backend/dreams/pagination.py
  backend/dreams/views.py
  frontend/src/components/DreamFormFields.vue
  frontend/src/components/StickySubmitButton.vue
  frontend/src/composables/useDreamForm.ts
  frontend/src/pages/CreateDreamPage.vue
  frontend/src/pages/EditDreamPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/router/routes.ts
  frontend/src/types/models.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

progress on image generation - model, serializers and a service stub
  backend/dreams/migrations/0003_image.py
  backend/dreams/models.py
  backend/dreams/serializers.py
  backend/dreams/services/__init__.py
  backend/dreams/services/image_generation.py
  backend/dreams/views.py
  backend/requirements.txt
Due: mypy, django-check, django-migrations-check

progress
  backend/cloud-run-service.yaml
  backend/dreams/services/image_generation.py
  backend/requirements.txt
  infrastructure/modules/gcp-project/main.tf
  infrastructure/modules/gcp-project/outputs.tf
Due: mypy, django-check

fix migration, img gen not a startup dep
  backend/dreams/services/image_generation.py
Due: mypy, django-check

fix infra trigger
  infrastructure/modules/gcp-project/main.tf
Due: none

dream image gen working locally
  backend/Dockerfile.worker
  backend/celery_config.py
  backend/celery_run.py
  backend/cloud-run-worker-service.yaml
  backend/cloudbuild.yaml
  backend/dream_journal/__init__.py
  backend/dream_journal/celery.py
  backend/dream_journal/settings.py
  backend/dreams/serializers.py
  backend/dreams/services/image_generation.py
  backend/dreams/services/signed_url.py
  backend/dreams/tasks.py
  backend/dreams/views.py
  backend/requirements.txt
  frontend/src/pages/EditDreamPage.vue
  frontend/src/services/web.ts
  frontend/src/types/models.ts
  infrastructure/modules/cloud-run-worker/main.tf
  infrastructure/modules/gcp-project/main.tf
  localdev/docker-compose.yml
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

build fixes
  backend/cloudbuild.yaml
  infrastructure/modules/gcp-project/main.tf
Due: django-check

celery http health endpoint
  backend/celery_run.py
  backend/cloud-run-worker-service.yaml
  backend/health_server.py
Due: mypy, django-check

fix celery service account
  backend/cloud-run-worker-service.yaml
Due: django-check

fix cpu in gen2 unthrottled service instance
  backend/cloud-run-worker-service.yaml
Due: django-check

pubsub perm to app sa
  infrastructure/modules/gcp-project/main.tf
Due: none

fix health check and app trigger sa perms
  backend/health_server.py
  infrastructure/modules/cloud-run-worker/main.tf
  infrastructure/modules/gcp-project/main.tf
Due: mypy, django-check

Path conditions:
  mypy: any of: ^backend/.*\.py$, but not: ^backend/venv/
  vue-tsc: any of: ^frontend/.*\.(vue|ts|js)$
  eslint: any of: ^frontend/.*\.(vue|ts|js)$
  prettier: any of: ^frontend/.*\.(vue|ts|js|scss|css|html|md|json)$
  frontend-build: any of: ^frontend/
  django-check: any of: ^backend/.*\.(py|yaml|yml)$
  django-migrations-check: any of: ^backend/.*models\.py$
