Repository kevinjos/dream-journal: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vue-tsc, eslint, prettier, frontend-build, django-check, django-migrations-check

mypy:
  name: 'Backend: Type check Python (warnings only)'
  entry: bash -c 'cd backend && source venv/bin/activate && DJANGO_SETTINGS_MODULE=dream_journal.settings mypy --config-file=mypy.ini . || echo "⚠️  MyPy found type issues but allowing commit"'
  language: system
  pass_filenames: false

vue-tsc:
  name: 'Frontend: TypeScript type checking'
  entry: bash -c 'cd frontend && npm run typecheck'
  language: system
  pass_filenames: false

eslint:
  name: 'Frontend: ESLint check and fix'
  entry: bash -c 'cd frontend && npm run lint -- --fix'
  language: system
  pass_filenames: false

prettier:
  name: 'Frontend: Format with Prettier'
  entry: bash -c 'cd frontend && npx prettier --write "src/**/*.{vue,ts,js,scss,css,html,md,json}" "*.{js,ts,vue,scss,css,html,md,json}" --ignore-path ../.gitignore'
  language: system
  pass_filenames: false

frontend-build:
  name: 'Frontend: Build check'
  entry: bash -c 'cd frontend && npm run build > /dev/null 2>&1'
  language: system
  pass_filenames: false

django-check:
  name: 'Backend: Django system check'
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py check'
  language: system
  pass_filenames: false

django-migrations-check:
  name: 'Backend: Check for missing migrations'
  entry: bash -c 'cd backend && source venv/bin/activate && python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

tweak celery health check
  backend/celery_run.py
  backend/health_server.py
Due: mypy, django-check

add env var to django for celery pubsub
  backend/cloud-run-service.yaml
Due: django-check

fix pubsub config
  backend/celery_config.py
  backend/dream_journal/settings.py
  backend/dreams/services/signed_url.py
  backend/requirements.txt
Due: mypy, django-check

celery[gcpubsub] extra does not exist
  backend/requirements.txt
Due: none

simplify celery config
  backend/celery_config.py
Due: mypy, django-check

logging
  backend/dreams/views.py
Due: mypy, django-check

try v4 api for signed urls using iam binding
  backend/dream_journal/settings.py
  backend/dreams/services/signed_url.py
  infrastructure/modules/gcp-project/main.tf
Due: mypy, django-check

one more try
  backend/dream_journal/settings.py
  backend/dreams/services/signed_url.py
Due: mypy, django-check

signed url fix - service account credientials secret
  backend/cloud-run-service.yaml
  backend/dream_journal/settings.py
  backend/dreams/services/signed_url.py
  infrastructure/modules/gcp-project/main.tf
Due: mypy, django-check

fix migration/worker
  backend/dream_journal/settings.py
  backend/dreams/services/signed_url.py
Due: mypy, django-check

update csp for gcs signed urls
  frontend/nginx.conf
  infrastructure/modules/gcp-project/main.tf
Due: frontend-build

auto-save on edit dream
  frontend/nginx.conf
  frontend/src/components/SyncStatusIndicator.vue
  frontend/src/pages/EditDreamPage.vue
  frontend/src/services/web.ts
  infrastructure/modules/gcp-project/main.tf
Due: vue-tsc, eslint, prettier, frontend-build

alter image
  backend/dreams/services/prompt_service.py
  backend/dreams/tasks.py
  backend/dreams/views.py
  frontend/src/css/app.scss
  frontend/src/pages/EditDreamPage.vue
  frontend/src/services/web.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check

add rate limit to img gen task
  backend/dreams/tasks.py
Due: mypy, django-check

restore center on wide screens for editdream
  frontend/src/pages/EditDreamPage.vue
Due: vue-tsc, eslint, prettier, frontend-build

introduce astral plane for dream sharing
  backend/cloud-run-service.yaml
  backend/dream_journal/settings.py
  backend/dreams/migrations/0004_add_is_public_field.py
  backend/dreams/models.py
  backend/dreams/permissions.py
  backend/dreams/serializers.py
  backend/dreams/views.py
  frontend/cloud-run-service.yaml
  frontend/src/components/DreamCard.vue
  frontend/src/components/DreamImage.vue
  frontend/src/composables/useDreamImages.ts
  frontend/src/composables/useDreamsList.ts
  frontend/src/css/app.scss
  frontend/src/layouts/MainLayout.vue
  frontend/src/pages/AstralPlanePage.vue
  frontend/src/pages/CreateDreamPage.vue
  frontend/src/pages/DreamsListPage.vue
  frontend/src/pages/EditDreamPage.vue
  frontend/src/pages/HomePage.vue
  frontend/src/pages/ViewDreamPage.vue
  frontend/src/router/routes.ts
  frontend/src/services/web.ts
  frontend/src/types/models.ts
Due: mypy, vue-tsc, eslint, prettier, frontend-build, django-check, django-migrations-check

deploy celery as cr worker pool
  backend/cloudbuild.yaml
Due: django-check

get the network conf right for the worker pool
  backend/cloudbuild.yaml
Due: django-check

disable the health server in the worker
  backend/celery_run.py
Due: mypy, django-check

Path conditions:
  mypy: any of: ^backend/.*\.py$, but not: ^backend/venv/
  vue-tsc: any of: ^frontend/.*\.(vue|ts|js)$
  eslint: any of: ^frontend/.*\.(vue|ts|js)$
  prettier: any of: ^frontend/.*\.(vue|ts|js|scss|css|html|md|json)$
  frontend-build: any of: ^frontend/
  django-check: any of: ^backend/.*\.(py|yaml|yml)$
  django-migrations-check: any of: ^backend/.*models\.py$
